*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FAFAF9;
}

h2, h3, h4, p{
    font-family: 'Sora', sans-serif;
}

h2{
    font-size: 1.125rem;
}

h3{
    font-size: 0.875rem;
    font-weight: 400;
}

h4{
    font-size: 0.625rem;
}

p {
    font-size: 0.75rem;
    font-weight: 400;
}

.blog-card {
    margin: 10.25rem auto 0px;
    width:343px;
    border-radius: 16px;
    box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
    padding: 14px;
}

.blog-image img{
    border-radius:8px;
    width: 100%;
    height: auto;
    display: block;
}

.tag{
    background-color: #F2EAFD;
    color: #7C19EE;
    display: inline-block;
    padding: 6px 16px;
    border-radius: 32px;
    margin-top: 16px;
}

.title{
    margin: 16px 0 8px 0;
    color: #20293A;
}

.text{
    color: #394150;
    margin-bottom: 24px;
}

.name{
    margin-bottom: .5em;
    position: relative;
    padding-top: 2rem;
    margin-top: 1rem;
    color: #394150;
}

.name::before {
    content: "";
    position: absolute;
    top: 0;
    left: -14px;
    width: calc(100% + 28px);
    height: 1px;
    background: #E5EAF0;
}

p{
    font-size: 0.75rem;
    font-weight: 400;
}